
.valise-container{
  background-color: rgb(230,231,232);
  .container-formulaire{
    background-color: rgb(230,231,232);
    h1{
      font-family: 'Oswald', Arial, Helvetica, sans-serif;
      font-size: 21px;
      font-weight: bold;
      color: #0277bd;
      line-height: 32px;
      margin-top: 24px;
      margin-bottom: 16px;

    }
    .mini-container{
      background-color: rgb(255,255,255);
      .main-input{
        input{
          height: 35px;
          line-height: 40px;
          font-size: 13px;
          font-weight: 500;
          font-style: italic;
          width: 200px;
          margin-left:20px;
          margin-bottom: 20px;
        }
        .input-identifiant{
          h1{
            margin-left: 20px;
          }
          p{
            margin-left: 20px;
          }
        }
        .input-mot-de-passe{
          display: flex;
          p{
            margin-left: 20px;
          }
        }

      }
    }
  }
}
